@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import "./utils/variables";
@import "./utils/mixins";

body {
    font-family: $primary_font_family;
    font-size: $size;
    margin: 0;

    @include tablet {
        font-size: 1.5vw;
    }
}

.loader {
    text-align: center;
    line-height: 500px;
    font-size: 2rem;
    color: rgba($color-primary, .5);
    background: $color-quaternary;
    position: fixed;
    height: 100vh;
    width: 100%;
    position: relative;
    animation: 0.5s ease-in-out 1.5s forwards disappear;

    &__span {
        width: 50px;
        height: 50px;
        display: inline-block;
        vertical-align: middle;
    }

    &__animation {
        position: relative;
        border-radius: 50px;
        border: 5px solid rgba($color-primary, .5);

        &::after {
            content: '';
            position: absolute;
            top: -5px;
            left: -5px;
            bottom: -5px;
            right: -5px;
            width: 50px;
            height: 50px;
            border-radius: 50px;
            border: 5px solid transparent;
            border-top-color: #fff;
            animation: spin 3s linear infinite;
        }
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes disappear {
    from {
        opacity: 1;
        visibility: visible;
        height: 100vh;
    }

    to {
        opacity: 0;
        display: none;
        visibility: hidden;
        height: 0;
    }
}

.header {
    margin-top: 30px;
    margin-bottom: 10px;

    &__logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 40px;
        width: 200px;
    }

    &__image {
        width: 100%;
        margin-top: 1rem;
        object-fit: cover;
        @include tablet {
            height: 350px;
        }
    }

    &__link-back {
        display: block;
        position: absolute;
        padding: 0.5rem;
        left: 1rem;
        color: black;
        cursor: pointer;
    }

    &__icon-back {
        font-size: 1.5rem;
    }
}

.location {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: $color-quaternary;

    .fas {
        padding-right: 10px;
    }

    &__actuel-location {
        font-weight: 500;
    }
}

.reservation {
    background-color: rgba($color-quaternary, .4);
    text-align: center;
    padding: 3rem;

    &__second-title {
        margin-top: 0;
    }

    &__button {
        font-size: 1rem;
        border-radius: 99rem;
        color: #fff;
        background: linear-gradient($color-secondary, $color-primary);
        border: none;
        padding: 1rem;
        box-shadow: 0px 3px 8px 2px rgba($color-quaternary, .4);
        transition: 0.4s;

        &:hover {
            opacity: 0.8;
            box-shadow: 0px 3px 8px 2px #999;
        }
    }
}

.stages {
    padding: 1.5rem;

    &__third-title {
        @include tablet {
            text-align: center;
        }
    }

    &__order-list {
        @include tablet {
            display: flex;
            justify-content: center;
        }
    }

    &__stage-list {
        padding: 1.5rem;
        background: rgba($color-quaternary, .4);
        border-radius: 1rem;
        position: relative;
        margin: 1rem 0;
        font-weight: 600;
        display: flex;
        align-items: center;
        box-shadow: 0 5px 10px 2px #e6e6e6;

        @include tablet {
            margin: 2rem;
        }
    }

    &__icon-style {
        margin-right: 1.5rem;
        color: gray;
        transition: 0.4s;

        &:hover {
            color: $color-primary;
        }
    }

    &__badge {
        background-color: #9356DC;
        color: #fff;
        display: inline-block;
        padding: 3px 8px;
        text-align: center;
        border-radius: 50%;
        position: absolute;
        left: -15px;
    }
}

.restaurant {
    background-color: rgba($color-quaternary, .4);
    position: relative;

    &__third-title {
        padding: 3rem 1.5rem 1rem;
        margin: 0;

        @include tablet {
            text-align: center;
            margin-bottom: 2rem;
        }
    }

    &__menu {
        padding-bottom: 4rem;

        @include tablet {
            display: flex;
        }
    }

    &__cards {
        margin: 0 1rem 1rem 1rem;
        padding-bottom: 0.1rem;
        border-radius: 2rem;
        box-shadow: 0 5px 10px 2px #e6e6e6;
        background-color: #fff;
        position: relative;
    }

    &__nouveau {
        &::after {
            content: "Nouveau";
            position: absolute;
            top: 5vw;
            right: 5vw;
            background: #99E2D0;
            color: #278870;
            font-size: 0.9rem;
            padding: 0.4rem 0.6rem;
            font-weight: 600;
            border-radius: 0.2rem;

            @include tablet {
                top: 2vw;
                right: 2vw;
            }

        }
    }

    &__picture {
        width: 100%;
        border-radius: 2rem 2rem 0 0;
    }

    &__link {
        text-decoration: none;
        color: black;
    }

    &__info {
        margin-left: 1rem;
    }

    &__icon-heart {
        font-size: 1.5rem;
        position: absolute;
        right: 4vw;
        top: 66vw;
        color: #fff;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
        transition: color 1s;

        &:hover {
            color: $color-primary;
        }

        @include tablet {
            right: 2vw;
            top: 17vw;
        }
    }

    &__fourth-title {
        margin: 0.5rem 0;
    }

    &__paragraph {
        margin-top: 0;
        margin-bottom: 1rem;
    }
}

.footer {
    background: #353535;
    color: #FFF;
    padding: 1rem 1.5rem;

    &__fifth-title {
        font-family: $secodanry_font_family;
        font-size: 1rem;
        font-weight: 500;
        margin: 1rem 0;
    }

    &__unorder-list {
        padding-inline-start: 0px;
    }

    &__list {
        margin-bottom: 0.5rem;
        list-style-type: none;
    }

    &__icon {
        margin-right: 1rem;
        width: 16px;
    }

    &__link {
        text-decoration: none;
        color: inherit;
    }

    @include tablet {
        text-align: center;
    }
}
      

/* PAGES */
.menu {
    background-color: #f8f8f8;
    position: relative;
    top: -4rem;
    border-radius: 2.5rem 2.5rem 0 0;
    padding: 1rem 0 4rem;
    margin-bottom: -4rem;

    &__title {
        padding: 0 2rem 0 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include tablet {
            justify-content: center;
        }
    }

    &__second-title {
        font-family: $secodanry_font_family;
        font-size: 2rem;
        @include tablet {
            margin-right: 1rem;
        }
    }

    &__icon-heart {
        font-size: 1.5rem;
        color: #fff;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
        transition: color 1s;

        &:hover {
            color: $color-primary;
        }
    }

    &__content {
        padding: 0 1rem 1rem 1rem;
        @include tablet {
            width: 30%;
        }
    }

    &__third-title {
        font-size: 1rem;
        font-weight: 400;
        width: 2.5rem;
        border-bottom: solid 3px $color-tertiary;
        text-transform: uppercase;
        padding: 0.2rem 0;
        margin: 0.5rem 0;
    }

    &__unorder-list {
        padding-inline-start: 0;
    }

    &__animation-width {
        display: inline-block;
        position: relative;
        padding: 0.7rem;
        width: 100%;
        transition: width 0.5s
    }

    &__list {
        position: relative;
        box-shadow: 0 5px 10px 2px rgb(230, 230, 230);
        border-radius: 1rem;
        overflow: hidden;
        margin-bottom: 1rem;
        background-color: #fff;
        width: 100%;
        animation: appear 1s ease-in-out forwards;
        @for $i from 1 through 4 {
            &:nth-child(#{$i}n){
                animation-delay: 200 * $i + ms;
            }
        }
        opacity: 0;
        
        &:hover .menu__animation-width {
            width: calc(100% - 4.5rem);
        }

        &__check-icon i {
            transition: none;
        }

        &:hover .menu__check-icon i {
            transform: rotate(360deg);
            transition: transform .5s;
        }
        &:hover .menu__check-icon {
           opacity: 1;
        }
    }
    &__strong {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 80%;
        display: block;
    }
    &__detail {
        margin: 0.3rem 0;
        font-size: 0.9rem;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 75%;
        margin-right: 2rem;
    }

    &__list-1 {
        animation-delay: 200ms;
    }

    &__list-2 {
        animation-delay: 400ms;
    }

    &__list-3 {
        animation-delay: 600ms;
    }

    &__price {
        font-weight: 600;
        position: absolute;
        bottom: 1rem;
        right: 2rem;
    }

    &__check-icon {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0rem;
        width: 3.5rem;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 1.2rem;
        background-color: $color-tertiary;
        opacity: 0;
        i {
            transition: none;
        }
    }

    &__button {
        font-size: 1rem;
        border-radius: 99rem;
        color: #fff;
        background: linear-gradient($color-secondary, $color-primary);
        border: none;
        padding: 1rem 3.5rem;
        box-shadow: 0px 3px 8px 2px rgba($color-quaternary, .4);
        transition: 0.4s;
        display: block;
        margin: auto;
        margin-top: 2rem;

        &:hover {
            opacity: 0.8;
            box-shadow: 0px 3px 8px 2px #999;
        }
    }
    &__horizontal {
        @include tablet {
            display: flex;
            justify-content: space-around;
        }
    }
}

@keyframes appear {
    from {
        opacity: 0;
        transform: translateY(1rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}